
h2{
    text-align: center;
    background-color: tomato;
    color: thistle;
    font-size: .6cm;
}
.grid{
    
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid: .1cm;



}
.a{
    font-size: .7cm;
    color: red;
}
